.craftContainer{
    display: grid;
    grid-template-columns: 1.7fr 8.3fr;
    background-color: #f5f5f5;
    gap: 2em;
}

/* ユーザー情報 */
.user-information{
    margin: 2em 2rem 0 0;
    background-color: #fff;
    padding: 2em;
    line-height: 1.5;
    border-radius: .5rem;
}
.userContainer{
    display: grid;
    background-color: #fff;
    height: 100%;
    padding: 2rem;
}
.user-informationTitle{
    font-size: 2rem;
}
/* ユーザー検索 */
.username-input{
    border-radius: 10em;
    width: 15em;
    height: 3em;
    border: .05em solid #ccc;
    background: #f5f5f5;
    text-align: center;
}
.user-informationSearch{
    margin:0 5em 2rem 0;
    display: flex;
    justify-content: flex-end;
}
.user-informationInner{
    width: 85%;
    /* height: 70%; */
    margin: 0 auto;
}
.user-informationTabMenu{
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    gap: 3em;
    padding-left: 2rem;
}
.user-informationTab{
    /* border: solid #0003; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.092);
    width: 80%;
    margin: 0 auto;
    padding: 1rem 0;
    margin-bottom: 2rem;
    border-radius: .5rem;
}
select{
    appearance: auto; 
}
.user-informationTabItem1{
    padding: .5rem;
    border: solid #0003;
    border-radius: .3rem;
}
.user-informationTabItem2{
    padding: .5rem;
    border: solid #0003;
    border-radius: .3rem;
} 
.user-informationTabItem3{
    background-color: #AAD1F2;
    align-content: center;
    text-align: center;
    border-radius: .3rem;
    width: 5rem;
    margin-left: 8rem;
}
.user-informationPanel{
    margin: 0 10rem; 
}
.person-information{ 
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: .5em;
    font-size: 1.3em;
    background-color: #f5f5f5;
    padding: 1.2rem 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 1rem;
}
.user-informationUserName{
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
}
.user-informationGender{
    display: grid;
    grid-column: 1/2;
    grid-row: 2/3;  
    justify-content: center;
    align-items: center;
    font-size: 1em;
}
.user-informationPhoneNumber{
    display: grid;
    grid-column: 2/4;
    grid-row: 1/2; 
    justify-content: center;
    align-items: center;
}
.user-informationMail{
    display: grid;
    grid-column: 2/4;
    grid-row: 2/3; 
    justify-content: center;
    align-items: center;
}
.user-detail{
    display: grid;
    grid-column: 4/5;
    grid-row: 2/3;
    background-color: #52CEE9;
    justify-content: center;
    align-items: center;
    /* width: 5em; */
    margin: 0 2;
    height: 2em;
    border-radius: 1rem;
}

/* .user-name-gender{
    display: flex;
    flex-direction: column;
} */